<div>
  <h1>RxJs Excersices</h1>
  <p>Open the console -->, and explore the excercises</p>
  <button (click)="runExcersiceOne()">Run Excersice 1</button>
  <button (click)="runExcersiceTwo()">Run Excersice 2</button>
  <button (click)="runExcersiceThree()">Run Excersice 3</button>
  <button (click)="runExcersiceFour()">Run Excersice 4</button>
  <button (click)="runExcersiceFive()">Run Excersice 5</button>
  <button (click)="runExcersiceSix()">Run Excersice 6</button>

  <br />
  <br />
  <br />
  <br />
  <br />

  <h2>Observable from input with debounce</h2>
  <input
    type="text"
    [(ngModel)]="searchString"
    (input)="inputChanged($event)"
    placeholder="Search"
  />
  <button (click)="onClear()">Clear</button>

  <div *ngFor="let result of results$ | async">
    <div
      *ngIf="
        result.data.thumbnail != 'default' && result.data.thumbnail != 'self'
      "
    >
      <a [href]="result.data.url">
        <img [src]="result.data.thumbnail" alt="" />
      </a>
    </div>
  </div>
</div>
